
$body-bg: #ececec;
$headings-margin-bottom: 0px;

$font-family-sans-serif: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-serif: 'Playfair', serif;

$primary: #313131;
$secondary: #5b4ca0;

$link-color: $secondary;

$primary-light: lighten($primary, 10%);
$primary-dark: darken($primary, 10%);
