
.debug {
  border: 1px solid red;
}

/**
 * Colors
 */
.primary {
  color: $primary;
}

.primary-bg {
  background: $primary;
}

.primary-light {
  color: $primary-light;
}

.primary-dark {
  color: $primary-dark;
}

.main-content {
  background: $white;
  border-radius: 8px;
  padding: 24px 28px;
}

.sticky-b {
  position: fixed;
  transform: rotate(-90deg);
  font-size: 60px;
  color: lighten($primary, 65%);
  right: 0;
  //right: 100px;
}
