
.debug {
  border: 1px solid red;
}

/**
 * Colors
 */
.primary {
  color: $primary;
}

.primary-bg {
  background: $primary;
}

.primary-light {
  color: $primary-light;
}

.primary-dark {
  color: $primary-dark;
}

.main-content {
  background: $white;
  border-radius: 8px;
  border: 1px solid lighten($primary, 66%);
  padding: 24px 28px;
}

.footer {
  font-size: 14px;
}

.sticky-b {
  position: sticky;
  top: 290px;
  margin-top: 330px;
  margin-right: -24px;
  transform: rotate(-90deg);
  font-size: 60px;
  letter-spacing: 10px;
  color: lighten($primary, 70%);
}

img.standard {
  border-radius: 12px;
  border: 1px solid #d1d1d1;
  padding: 5px;
}
