.post-header {
  font-size: 44px;
  line-height: 52px;
  font-family: $font-family-serif;
  font-weight: 700;
  margin-bottom: 30px;

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.post-body {
  font-family: $font-family-sans-serif;
  color: rgba(black, .84);
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1px;
  h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans-serif;
    margin-top: 32px;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 26px;
  }

  a {
    border-bottom: 1px dotted $link-color;
    &:hover {
      text-decoration: none;
      border-bottom: 1px solid $link-color;
    }
  }
}

.post-date {
  text-transform: uppercase;
  color: $primary-light;
  font-size: 12px;
}

blockquote {
  font-family: $font-family-serif;
  font-style: italic;
  color: $primary-light;
  font-weight: 400;
  font-size: 20px;
  border-left: 6px solid lighten($primary, 70%);
  padding-left: 10px;
  margin-left: 12px;
  margin-top: 24px;
  margin-bottom: 32px;
  padding-top: 4px;
  padding-bottom: 1px;
}