.post-header {
  font-size: 28px;
  font-weight: 500;
}

.post-body {
  font-family: $font-family-serif;
  color: $primary-light;
}

.post-date {
  text-transform: uppercase;
  color: $primary-light;
  font-size: 12px;
}